body {
	/*Just for the moment */
	font-family: 'Roboto', sans-serirt !important;
}

/*id style */
header {
	height: 80px;
	background-color: #f2f2f2;
}
#page{
	height: 900px;
	position: relative;
}
#page.home, #page.build-your-own{
	margin:60px 0;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0 auto;
    height: 80%;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.home::before {
	content: '';
	background-color: white;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    content: '';
    height: 100%;
    right: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.how-to-work::before{
	content: '';
	background-color: white;
    background-image: url("../img/image-bmw.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    content: '';
    height: 100%;
    right: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.home::before {
	content: '';
	background-color: white;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    content: '';
    height: 100%;
    right: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.build-your-own::before {
	content: '';
	background-color: white;
    background-image: url("../img/bottom.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#page.build-your-own{
	margin:0;
}
/*.banner::after {
	content: '';
    height: 100%;
    right: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}*/
.banner button {
	background-color: #E4363C;
	color: #fff;
	border: none;
	height: 50px;
	width: 200px;
	text-align: left;
	padding: 10px;
	z-index: 2;
}
.banner button:hover {
	background-color: #FF595E;
	cursor: pointer;
}
.banner button i {
	float: right;
}

/*header values */
.head-nav{
	display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.nav-item{
	margin:0 10px;
	font-size: 16px;
	color: darkgrey;
	padding: 4px 0 6px 0;
    z-index: 2;

}
.nav-item:hover{
	cursor: pointer;
	border-bottom: 2px solid red;
	padding: 4px 0;
	color:#fff;
}

/* banner */
.banner h1{
	font-size: 4em;
	margin: 20px 0;
	text-align: center;
	font-weight: bold;
    z-index: 2;

}
.banner h4{
	font-size: 1.4em;	
	margin-bottom: 68px;
	text-align: center;
    z-index: 2;

}
.index-num {
	color:#c5c5c5;
	font-size: 18px;
}
#page .head{
    width: 75%;
    margin: auto;
    font-size: 20px;
    color:black;
}
.about-us::before {
    background-color: white;
    background-image: url("../img/HANDMADE@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    content: '';
    height: 14%;
    width: 90%;
    position: absolute;
    z-index: -1;
    margin: -13px auto;
    right: 0;
    left: 0;
}
#page .head h3,
#page .head h4{
	z-index: 2;
}
.red-bar{
	border-left:2px solid #E4363C;
	height:70px;
	margin: 6px 0;
}
.list {
    display: flex;
    width: 76%;
    margin: 10px auto;
    height: 440px;
}
/*#page.about-us::after {
  content: '';
  height: 100%; 
  width: -moz-calc(100% - 1000px);
  width: -webkit-calc(100% - 1000px);
  width: calc(100% - 1000px);
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  border-top: 500px solid #f00;
}*/
.how-to-work{
	background-color: #f2f2f2;
}
.about-us .list{
	box-shadow: 0 0 30px #cecece;
	-moz-box-shadow: 0 0 30px #cecece;
    -webkit-box-shadow:0 0 30px #cecece;
    background-color: white;
}
#page > div:first-child{
	height: 100%;
}
.list-item{
    display: flex;
    width: 33.33%;
    margin:6px;
    align-items: center;
    justify-content: center;
	border-width: 0px 1px;
	border-color: #c5c5c5;
	border-style: solid;
}
.list > li:first-child, .list > li:last-child {
	border: none;
}
body footer{
	background-color: black;
	height: 80px;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
