@import "variables";

body {
	font-family: $font !important;
	font-size: 100%;
	line-height:100%;
}

header {
	height: 10%;
	width: 100%;
	position:absolute;
	top:0;
	z-index:1;
}
body footer{
	@extend .flexbox;
	align-items: center;
	background-color: black;
	color:#fff;
	font-size: $nav-icons;
	font-weight: $medium-font;
	height: 10%;
	justify-content: center;
	z-index: 1;
}
button{
	@extend .flexbox;
	align-items:center;
	background-color: #E4363C;
	border: none;
	color: #fff;
	height: 60px;
	margin: 10px auto;
	padding: 10px;
	position: relative;
	text-align: left;
	width: auto;
	z-index: 2;

	span {
		font-size: $nav-icons;
		font-weight: $medium-font;
		font-family: $font;
		padding:0 60px 0 10px;
	}
	&:hover, &:active{
		background-color: #FF595E;
		cursor: pointer;	
	}
	.icon {
	    height: 1rem;
	    position: absolute;
	    top:0;
	    bottom:0;
	    right: 10px;
	    margin: auto 0;
	    width: 0.8rem;
	}
	.icon::before {
	    background-image: url("../img/mobile/icn-arrow@2x.png");
	    content: "";
	    background-size: 100% 100%;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}
}
// set height too 100% for page max height
html, body, #app, .wrapper, .wrapper > div {
	height: 100%;
}

.home, .home::before,.build-your-own {
    padding-bottom: 20%;
}
.build-your-own::before, .build-your-own .banner {
	padding-top: 20%;
}
.home::before{
	@extend .backgroundImg;
	background-image: url("../img/image.png");
}
.build-your-own::before{
	@extend .backgroundImg;
	background-image: url("../img/bottom.png");

}
.build-your-own {
	padding-top: 10%;
}
.wrapper > div {
	min-height: 100%;
}

.collaspe-menu {
	color:white;
    display: none;
    font-size: 2.5rem;
	position: absolute;
    right: 20px;
    top: 30px;

    // not working in FF
    &:not(.close):before {
  		content: '\f0c9';
    	font-family: FontAwesome;
    }
    &[class*="close"]:before{
  		content: '\f00d';
    	font-family: FontAwesome;
  		color:black;
    }
}

.head-nav {
	@extend .flexbox;
    height: 100%;
    align-items: center;
    justify-content: center;

	.nav-item {
		margin:0 10px;
		font-size: $nav-icons;
		font-weight: $medium-font;
		color: darkgrey;
		padding: 4px 0 6px 0;
		
		&:hover, &:active {
			cursor: pointer;
			border-bottom: 2px solid red;
			padding: 4px 0;
			color:#fff;
	    }
	}
}

.banner{
	@extend .flexbox;
    flex-direction: column;
    width: 70%;
    height: inherit;
    margin:0 auto;
    color: #fff;
    align-items: center;
    justify-content: center;
	text-align:center;
	z-index:0;
   	h1 {
		margin: 20px 0;
		font-size: $m-headline;
		font-weight: $font-weight;
	}
	h4 {
		font-size: $subheadline;	
		font-weight: $thin-font;
		margin-bottom: 68px;
	}
}
//make mixin taking different colours // also make mixin for bg

.red-bar{
	border-left:2px solid #E4363C;
	height:70px;
	margin: 6px 0;
}
.about-us {
	position: relative;
}
.about-us::before{
	@extend .backgroundImg;
	background-image: url("../img/bottom.png");
	bottom: -60%;
    -webkit-filter: brightness(0%);
    background-size: cover;
    background-position: initial;
}

.about-us .list {
	box-shadow: 0 0 30px #cecece;
    -webkit-box-shadow: 0 0 30px #cecece;
    background-color: white;
    width: 80%;
    height: auto;
    padding: 10px;
    margin: auto;
    position: relative;
    flex-direction: row;
    height: 60%;
	@extend .flexbox;

    li{
	    height: auto;
	    display:table-row;
	    position: relative;

	    //could abstract out
	    &:last-child .content{
    		border-right:none;
    		border-left:none;
    	}
    	&:first-child .content{
    		border-right: none;
    		border-left:none;
    	}
    }
    .img-holder {
    	height: 35%;
		@extend .flexbox;
	    align-items: center;
	    justify-content: center;

	    img {
	    	height: 4em;
	    	width: 4em;
	    }
    }
    .content {
    	padding: 0 20%;
    	border-width:0px 1px;
    	padding-bottom: 70px;
    	border-color: #b9b2b2;
    	border-style: solid;

    	h3{
    		font-size: $s-headline;
			font-weight: $font-weight;
			margin-bottom: 30px;
    	}
    	p{
    		font-family: $secondary-font;
    		font-size: $content-font;
    		color: $secondary-color;
    		line-height: 2;
    	}
    }
}
.head{
	@extend .flexbox;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 30%;
    min-height:100px;
    margin: 0 auto;
    position: relative;

    h3{
    	margin-bottom: 20px;
    }
    h3, h4{
    	font-size: $sec-headline;
    	font-weight: $font-weight;
    }
    h4{
    	color:#949494;
    }
}

.how-it-works {
	.list {
		.content {
			z-index:1;
		}
	}
}
.how-it-works{
	background-color: #ceced2;

	.list-number-bg {
	   	height: 0;
	    position: absolute;
	    left: 30px;
	    font-size: 100px;
	    top: 30px;
	    font-weight: 400;
	    color:grey;
		z-index:0;

	} 
	.list{
		@extend .flexbox;
	    width: 80%;
	    margin: auto;
	    padding: 30px 0;

	    li{
	    	min-height: 200px;
	    	width: 100%;
			border-width: 0 1px;
		    border-style: solid;
		    padding: 10px;
		    border-color: #b9b2b2;
	    	position: relative;

		    &:last-child{
	    		border-right:none;
	    		border-left:none;
	    	}
	    	&:first-child{
	    		border-right: none;
	    		border-left:none;
	    	}
	    }

	    .content{
			@extend .flexbox;
	    	justify-content: center;
	    	align-items: center;
	    	height: 100%;
	    	
	    	h3{
				font-size: $s-headline;
				z-index:1;
	    	}
	    }
	}

}
.comments {
	width: 90%;
	height:auto !important;
	margin: 0 auto;

	.comment-count {
		height: 100px;
		@extend .flexbox;
	    align-items: center;
	    text-align: left;
	    font-size: $com-headline;
	    font-weight: $thin-font;
	    color: #969696;
	}
	.comment-count, .comment-box {
		width: 80%;
		margin: 0 auto;
	}
}
.comment-input, .comment, .replies {
	box-shadow: 0 0 20px #ededef;
	-moz-box-shadow: 0 0 20px #ededef;
    -webkit-box-shadow:0 0 20px #ededef;	
    margin: 10px 0;
    background-color: #fff;
}
.comment-input {
    height: 100px;
	@extend .flexbox;
    position: relative;
    justify-content: center;
    align-items: center;

    input {
    	width: 80%;
    	height: 60%;
    	border: none;
    	font-size: $nav-icons;
    	border-bottom: 1px solid #ceced2; 
    }
    i img{
    	padding: 10px;
	    bottom: 0;
	    top: 0;
	    height: 40px;
	    width: 40px;
	    margin: auto 0;
	    cursor:pointer;
    }
	img {
		width: 4em;
		height: 4em;
		margin: 10px;
	}
}
.comment-head {
	@extend .flexbox;
	align-items: center;
	position: relative;
	padding: 20px 40px;

	img {
	    height: 100px;
	    width: 100px;
	    margin: 10px;
	}
	i img {
	    height: auto;
	    width: 26px;
	    position: absolute;
	    top: 20px;
	    right: 20px;
	}
	p {
		color: #ceced2;
	}
}
.comment-text {
	width: 80%;
    margin: auto;
    line-height: 150%;
    padding-bottom: 40px;
}
.replies {
	border-left: 2px solid red;
	margin-left: 10%;
}
footer span {
	margin: 0px 6px;
}
.social-item img{
	height: 2em;
    margin: 0px 4px;
    padding: 2px;

    &:hover{
    	// should make radius a mixin
    	cursor: pointer;
    	border-radius:50%; 
    	border-style: solid;
    	padding: 0;
    	border-color: $button-hover;
    	border-width: 2px;
    }
}


//Abstract out to call specific CSS styles
@media (min-width:320px) { 
	.home::before{
		background-image: url("../img/mobile/image.png");
	}
	.about-us::before{
		background-image: url("../img/mobile/bottom.png");
	}
	.build-your-own::before{
		background-image: url("../img/mobile/bottom.png");
	}/* smartphones, iPhone, portrait 480x320 phones */ }

@media (min-width:481px) { 
	.home::before{
		background-image: url("../img/mobile/image.png");
	}
	.about-us::before{
		background-image: url("../img/mobile/bottom.png");
	}
	.build-your-own::before{
		background-image: url("../img/mobile/bottom.png");
	}
}
@media (max-width:481px) { 
	.red-bar{
		display: none;
	}
	.collaspe-menu {
		display: block;
	}
	.collasped  {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: #fff;
		overflow: hidden;
		z-index: 4;

		.head-nav {
			flex-direction: column;

			.nav-item{
				margin: 2em;
				&:hover, &:active {
					color:#000;
			    }
			}
		}
	}
	.head-nav{
		.nav-item {
			display: none;
		}
	}
	.header[class*="collasped"] {
		 .nav-item {
			display:block;
		}
	}
	.list {
		flex-direction: column;
		padding-bottom: 0px;

		.content{
			text-align: center;
    		border-width:0px 0px 1px 0px;
			margin: 10px 60px;
			padding-right:0;
			padding-left:0;
		}
		li:last-child .content{
    		border-bottom:none;
    		margin-right: 60px;
    	}
		li:first-child .content{
    		margin-left: 60px;
    	}
	}

 }

@media (max-width:1000px) { 
	.about-us, .about-us .list, .how-it-works, .how-it-works .list , .comments, .comment-input {
		height: auto !important;
	}
	.about-us {
    	padding-bottom: 60px;
	}
	.about-us .list, .how-it-works .list {
		flex-direction: column;
		li {
			border-width: none !important;
			display:table;
			border-width: 1px  0px !important;

		    &:last-child{
	    		border-top:none;
	    		border-bottom:none;
	    	}
	    	&:first-child{
	    		border-top:none;
	    		border-bottom:none;
	    	}
		}

		.img-holder {
			padding: 20px;
		}
	}
	// needs to change all the styles to size presenst
	.list-number-bg {
		top:10 !important;
		left:0 !important;
	    align-self: center!important;
	    margin: auto !important;
	    justify-content: center !important;
	    display: flex !important;
	    position:relative !important;
	}
	.how-it-works {
		.list {
			li {
			    padding: 0 !important;
    			border-width:0px !important;
			}
			.content {
			    padding: 0 !important;
			    margin: 0 auto;
			    position: absolute;
			    right: 0;
			    width: 50%;
			    left: 0;
			    height: 100%;
    			border-width:0px 0px 1px 0px !important;
    			border-color: #b9b2b2;
    			border-style: solid;
			}
		}
	}
	.red-bar{
		display: none;
	}
	.list {
		flex-direction: column;

		.content {
			padding: 0 10% 20%!important;
			text-align: center !important;
    		border-width:0px 0px 1px 0px !important;
			margin: 10px 60px;
			padding-right:0;
			padding-left:0;
		}
		li:last-child .content{
    		border-bottom:none;
    	}
	}
	.backgroundImg {
		background-size: 100% 100%; 
	}

	.comment-input {
		flex-direction: column;
		input {
			height:50px;
		}
	}
	.comment-box{
		width:100% !important;
	}
	.how-it-works button {
		width:90%;
	}
}
@media (min-width:641px) { 
	.home::before{
		background-image: url("../img/mobile/image@2x.png");
	}
	.about-us::before{
		background-image: url("../img/mobile/bottom@2x.png");
	}
	.build-your-own::before{
		background-image: url("../img/mobile/bottom@2x.png");
	}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { 
	.home::before{
		background-image: url("../img/image.png");
	}
	.about-us::before{
		background-image: url("../img/mobile/bottom@2x.png");
	}
	.build-your-own::before{
		background-image: url("../img/bottom.png");
	}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { 
	.home::before{
		background-image: url("../img/image@2x.png");
	}
	.about-us::before{
		background-image: url("../img/bottom@2x.png");
	}
	.build-your-own::before{
		background-image: url("../img/bottom@2x.png");
	}
/* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { 
	.home::before{
		background-image: url("../img/image@2x.png");
	}
	.about-us::before{
		background-image: url("../img/bottom@2x.png");
	}
	.build-your-own::before{
		background-image: url("../img/bottom@2x.png");
	}
/* hi-res laptops and desktops */ }