//Font awesome
$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

// text decorations and style 
$font : 'Roboto', sans-serif;
$secondary-font : 'Merriweather', serif;
$font-weight : 700;
$medium-font : 500;
$thin-font : 300;

$secondary-color : #B2B2B2;
$medium-color : #949494;
$button-color : #E43B40;
$button-hover : #FF595E;
$error : #E95F63;

//font sizes
$m-headline : 90px;
$s-headline : 26px;

$com-headline : 26px; 
$sec-headline : 19px;
$name-title : 16px;

$subheadline : 21px;
$content-font : 15px;
$nav-icons: 16px;

.flexbox {
 	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;
}

.backgroundImg {
	content: '';
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center; 
	-webkit-filter: brightness(30%); filter: brightness(30%);
	position: absolute;
	height:100%;
	width:100%;
	z-index:-1;
}